/* Container for the specials section */
.specials-container {
  margin: 150px 60px 60px 60px;
}
.specials-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.food-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.food-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.food-details {
  padding: 15px;
  background-color: #edefee;
  height: 100%;
  justify-content: space-between;
}
.food-title {
  font-family: "Karla", sans-serif;
  font-size: 18pt;
  font-weight: bold;
  margin: 0 0 10px;
}
.food-price {
  font-family: "Karla", sans-serif;
  font-size: 16pt;
  font-weight: medium;
  color: #ee9972;
  margin: 0 0 10px;
}
.food-description {
  font-family: "Karla", sans-serif;
  font-size: 16pt;
  font-weight: regular;
  max-width: 65ch;
  line-height: 1.5;
  color: #777;
}
.specials-heading {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 16pt;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}
.online-menu-button {
  background-color: #f4ce14;
  color: #333333;
  font-family: "Karla", sans-serif;
  font-size: 12pt;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.online-menu-button:hover {
  background-color: #d0ae04;
}
.food-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
